<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "^(composer\.json|composer\.lock|package\.json|yarn\.lock|README\.md|LICENSE)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>